body { box-sizing: border-box; margin: 100px; padding: 0; transition: all 1s linear; animation: khan 4s infinite; }
body li { background: green; }
body li a { margin: 10px; }

body:hover { transform: rotate(360deg) scale(3); }

@keyframes khan { 0% { background: gray; border-radius: 50%; }
  100% { background: green; border-radius: 50%; transform: skew(50deg); } }
